# Persistence
DATABASE_URL=sqlite:///muyu.db
DATABASE_CONNECT_ARGS={"check_same_thread": false}

# LLMs
LLM_ENDPOINT=http://172.88.0.20:8888/v1/
LLM_API_KEY=sk-xx
DEFAULT_LLM_MODEL_NAME=Qwen-14B-Chat-Int4

# Ebeddings
EMBEDDINGS_IMPL=bge
EMBEDDINGS_MODEL_NAME=/Users/shellc/Downloads/bge-large-zh-v1.5
EMBEDDINGS_DEVICE=cpu
#EMBEDDINGS_INSTRUCTION=

TOOLS='
[
    {
        "name": "$iur",
        "impl": "myla.iur.IURTool",
        "args": {}
    },
    {
        "name": "$retrieval",
        "impl": "myla.retrieval.RetrievalTool"
    },
    {
        "name": "$doc_summary",
        "impl": "myla.retrieval.DocSummaryTool"
    },
    {
        "name": "$ec",
        "impl": "ec.ECTool",
        "args": {"device": "cpu"}
    }
]
'